.combined_simple_widget .listing_block {
    border: 0px;
}
.combined_simple_widget input[type="radio"] {
    display: none;
}

.combined_simple_widget .votecontrol {
    float: right;
    padding: 3px 5px 3px 20px;
    width: 90px;
    border: 1px solid #5c5a5d;
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.combined_simple_widget .votecontrol.enabled {
    cursor: pointer;
}
.combined_simple_widget .selected.votecontrol {
    background-color: #5c5a5d !important;
    color: #fff;
}
.combined_simple_widget .votecontrol.approve,
.combined_simple_result .resultbox.approve {
    background: url(/combined_simple_static/approved.png) no-repeat 3px 50%;
}
.combined_simple_widget .votecontrol.deny,
.combined_simple_result .resultbox.deny {
    background: url(/combined_simple_static/denied.png) no-repeat 3px 50%;
}
.combined_simple_widget .votecontrol.abstain,
.combined_simple_result .resultbox.abstain {
    background: url(/combined_simple_static/abstain.png) no-repeat 3px 50%;
}
.combined_simple_widget .selected.votecontrol.approve {
    background-image: url(/combined_simple_static/approved_menu.png);
}
.combined_simple_widget .selected.votecontrol.deny {
    background-image: url(/combined_simple_static/denied_menu.png);
}
.combined_simple_widget .selected.votecontrol.abstain {
    background-image: url(/combined_simple_static/abstain_menu.png);
}
.combined_simple_result {
    margin-top: 10px;
}
.combined_simple_result .resultbox {
    width: 25%;
    padding-left: 25px;
    margin-left: -3px;
    float: left;
}
